services:
  db:
    image: postgres:17.6
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:8.2

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./core:/app
      - ./media:/media
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A telepad worker -l info
    volumes:
      - ./core:/app
      - ./media:/media
    env_file: .env
    depends_on:
      - db
      - redis
      - web


volumes:
  db_data:

