services:
  db:
    image: postgres:17.6
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432" # drop on prod
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:8.2
    ports:
      - "6379:6379" # drop on prod

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./core:/app
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A telepad worker -l info
    volumes:
      - ./core:/app
    env_file: .env
    depends_on:
      - db
      - redis
      - web


volumes:
  db_data:

